body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color:black;
  color: white;
}
#ani{
  width: 200px;
  position: absolute;
  right: 30px;
  top: 15px;
  border: 10px solid rgb(235, 229, 194);
  border-radius: 5px;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  text-shadow: 2px 2px 2px whitesmoke;
}

footer {
  text-align: right;
  color: #FBFFE4;
}
.tile-image{
  float: left;
  margin-right: 50px;
  height: 200px;
}
.card{
  width: 45%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.creative {
  color: midnightblue;
}
#footer{
  clear: both;
}
.image{
  width: 45%;
  height: 45%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}
#web{
  text-align: center;
  font-size: 3.5rem;
  text-decoration: dashed;
}
#center{
  width: 45%;
}
@media  (max-width:680px){
  .logo{
    width: 100px;
  }
  #ani{
    width: 100px;
  }
  .center{
    width: 100%;
    text-align: justify;
    display: block;
    margin-bottom: 30px;
    margin: 0px;
  }
 .center img{
  margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
 }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .card{
    width: 100%;
    text-align: justify;
    display: block;
    margin-bottom: 30px;
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
